<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/style.css" />
  </head>
  <body>
    <main>
      <%- include('../../public/menu.html') %>
      <h1>Carrinho</h1>

      <% if (erros) { %>
          <ul>
            <% for (let i = 0; i < erros.length; i++) { %>
              <li><%= erros[i].msg %></li>
            <% } %>
          </ul>
      <% } %>
      <table>
        <tr>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Quantidade</th>
          <th></th>
        </tr>
        <% produtos_pedido.forEach(produto_pedido => { %>
          <tr>
            <td><%= produto_pedido.descricao %></td>
            <td><%= produto_pedido.preco.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) %></td>
            <td><%= produto_pedido.quantidade %></td>
            <td>
              <a href="/render-alterar-quantidade/<%= produto_pedido.id_produto %>">Alterar quantidade</a>
              <a href="/excluir/<%= produto_pedido.id %>">Excluir</a>
            </td>
          </tr>
        <% }) %>
      </table>
      <h3>Valor total: <%= valorTotal.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) %></h3>
        <form action="/finalizar-pedido/<%= idPedido %>" method="post">
          <input type="submit" value="Finalizar pedido">
        </form>
    </main>
  </body>
</html>
